header {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: rgb(93, 87, 87);
  height: 100px;
  width: 100%;
}

input {
  margin-left: 100px;
  padding: 1em 6em;
}

h1 {
color : white;
}
